
@import 'https://fonts.googleapis.com/css?family=Roboto';
@font-face {
    font-family: 'comfortaalight';
    src: url('https://cdn-buyer1.makaan.com/iq/fonts/fonts/comfortaa-light.eot');
    src: url('https://cdn-buyer1.makaan.com/iq/fonts/comfortaa-light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn-buyer1.makaan.com/iq/fonts/comfortaa-light.woff2') format('woff2'),
         url('https://cdn-buyer1.makaan.com/iq/fonts/comfortaa-light.woff') format('woff'),
         url('https://cdn-buyer1.makaan.com/iq/fonts/comfortaa-light.ttf') format('truetype'),
         url('https://cdn-buyer1.makaan.com/iq/fonts/comfortaa-light.svg#comfortaalight') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

/********************basic styles************************/
/*** Body ***/
/*** text colors ***/
/*** text colors ***/
/*** font sizes ***/

*{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

/* Button v2 with 2 border radius 25px and 6px  */
.btnv2 {
  display: inline-block;
  padding: 6px 25px;
  border: solid 1px transparent;
  border-left: solid 6px transparent;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 25px;
  color: #e81c28;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.btnv2:hover {
  text-decoration: none;
  color: #e4101d;
}
.btnv2.disabled {
  color: #999999 !important;
  cursor: not-allowed;
  pointer-events: none;
}

.btnv2-p {
  background-color: #e81c28;
  color: #fff !important;
  border: none;
  border-left: solid 6px #fba510;
}
.btnv2-p:hover {
  background-color: #e4101d;
  border-left-color: #8f0f16;
}
.btnv2-p.disabled {
  background-color: #f17980;
  border-left-color: #d41621;
}
.btnv2-p.disabled:hover {
  background-color: #f17980;
  border-left-color: #d41621;
}

#detailOutWrap *, .bottom-wrap *{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #454545;
}

/********************basic styles************************/

.priceblink-body {
	margin-top: 32px !important;
}

#priceblink-notification-bar {
	background-repeat: repeat-x;
	padding: 0 5px 0 5px;
	height: 32px;
	line-height: 32px;
	z-index: 100000;
	width: 100%;
	top: 0;
	position: fixed;
	display: inline;
}

#priceblink-products-message,
#priceblink-coupons-message,
#priceblink-preferred-coupons-message {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

#detailOutWrap{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999;
	box-shadow: 0 0 3px -1px rgba(120, 120, 120, .6);
	background-color: #ffffff;
    padding: 5px 20px;
}

#detailOutWrap .logo{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
}
#detailOutWrap .logo img{
    width: 100%;
    height: auto;
}

#detailOutWrap #details{
    display: none;
    vertical-align: middle;
    width: 22%;
}


#detailOutWrap .content-wrap{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 76px);
}

#details .txt-heading{
    font-family: "comfortaalight";
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    font-size: 16px;
    margin-bottom: 5px;
}

#details .txt-heading a{
    color: #e81c28;
    font-family: "comfortaalight";
}

#details #detail_cost{
    font-size: 16px;
    display: inline-block;
}

#details #detail_cost img{
    width: 8px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.visitHere{
    font-size: 16px;
}


.visitHere a{
    color: #e81c28;
    text-decoration: underline;
    font-family: "comfortaalight";
}

.visitHere .linkToCompare{
    color: #e81c28;
    font-family: "comfortaalight";
}

.bottom-wrap .visitHere img{
    display: inline-block;
    vertical-align: middle;
}


.visitHere.builderInfo{
    position: relative;
    font-family: "comfortaalight";
    text-decoration: none;
}

.visitHere.builderInfo a{
    text-decoration: none;
}

.visitHere.builderInfo:hover a{
    cursor: pointer;
    color: #e81c28;
    text-decoration: none;
}

.visitHere.builderInfo a:hover{
    color: #e81c28;
}


#haveQueriesWrap{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff;
    height: 40px;
}

.leadForm{
    padding: 20px;
    font-family: "comfortaalight";
    font-size: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.leadForm input{
    border: 0;
    border-bottom: 1px solid #cdcdcd;
    text-align: left;
    padding-left: 10px;
    margin-left: 15px;
}

.leadForm button{
    margin-left: 15px;
}

.bottom-wrap .last-updated-wrap, 
.builder-details-wrap,
.dropdown-wrap{
    width: 33%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 8px 12px;
    font-family: "comfortaalight";
}

.bottom-wrap .dropdown-wrap .labelDD{
    text-align: left;
    font-family: "comfortaalight";
    max-width: 270px;
    vertical-align: middle;
    display: inline-block;
}

.bottom-wrap .dropdown-wrap{
    max-width: 350px;
    width: 100%;
    position: relative;
}

.bottom-wrap .dropdown-wrap img{ 
    display: inline-block;
    vertical-align: middle;
}

.bottom-wrap .dropdown-wrap ul{
    list-style: none;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 250px;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    background-color: #ffffff;
    z-index: 999999;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 3px -1 rgba(60, 60, 60, .7);
    color: #454545;
}

.bottom-wrap .dropdown-wrap ul li{
    padding: 10px 12px;
    text-align: left;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.bottom-wrap .dropdown-wrap ul li:hover{
    background-color: #e81c28;
    color: #ffffff;
    text-decoration: none;
}

#successPosted .successPost{
    color: #4f9a0d;
    font-size: 14px;
    font-family: 'comfortaalight';
}

#ErrorInpost .errorPost{
    color: #e81c28;
    font-size: 14px;
    font-family: 'comfortaalight';
}



